body{
    margin: 1.5em;
    font-family: monospace;
    background-image: linear-gradient(to right, dodgerblue, white);
}

a{
    text-decoration: none;
    font-size: 1.5rem;
}

.headerbackground{
    position: absolute;
    top: 0;
    left: 0;
    background: url(..//img/kenny-eliason-zFSo6bnZJTw-unsplash.jpg);
    background-size: cover;
    background-position-x: 20%;
    background-position-y: 30%;
    width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: 0.8;
    animation: introLoad 2s forwards;
}
.logo{
    color: white;
    font-weight: bold;

    span{
        color: black;
    }
}

nav{
    position: fixed;
    right: 0;
    top: 0;
    background: white;
    height: 100vh;
    width: 50%;
    z-index: 999;
    text-transform: uppercase;
    transform: translateX(100%);
    transition: .5s ease-in-out;

    .close{
        float: right;
        margin: 2em;
        width: 2.5em;
    }

    ul{
        list-style-type: none;
        padding: 0;
        margin-top: 8em;

        a{
            color: black;
            padding: .75em 2em;
            display: block;
           
            &:hover{
                background: rgb(235, 235, 235);
            }
        }
    }

    
}

header{
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    .menu {
        width: 3em;
        margin-top: -.6em;
      }
      
}


.subhead{
    font-size: 1.3rem;
}

section#content{
    color: white;
    height: 90vh;
    animation: moveDown 1s ease-in-out forwards;
    opacity: 0;

    h3{
        margin-top: 1.5em;
        font-size: 2.5em;
    }

    .downarrow{
        stroke: white;
        position: absolute;
        width: 1em;
        left: 250px;
        top: 370px;
        animation: moveArrow 1s alternate-reverse infinite;

        path{
            fill: white;
        }
    }

}



button{
    position: absolute;
    left: 185px;
    top: 500px;
    background-image: linear-gradient(to right, dodgerblue, white);
    border-radius: 10px;

}


.news{
    width: 60%;
    
    h1{
        text-align: center;
        background: inherit;
        background-image: url(../img/news2.jpg);
        font-size: 3rem;
        
    }
    div{
        background: white;
        font-size: 1rem;
    }
}


footer{
    display: flex;
    justify-content: space-between;
}


.open-nav{
    transform: translateX(0%);
}

@media only screen and(min-width: 539px){

    section#content{
        color: white;
        height: 90vh;
    
        h3{
            margin-top: 1.5em;
            font-size: 2.5em;
        }
    
        .downarrow{
            stroke: white;
            position: absolute;
            width: 1em;
            left: 250px;
            top: 330px;
            animation: moveArrow 1s alternate-reverse infinite;
    
            path{
                fill: white;
            }
        }
    }
    
    
    
    button{
        position: absolute;
        left: 185px;
        top: 460px;
        background-image: linear-gradient(to right, dodgerblue, white);
        border-radius: 10px;
    
    }

}

@media only screen and(min-width: 628px){
    section#content{
        color: white;
        height: 90vh;
    
        h3{
            margin-top: 1.5em;
            font-size: 2.5em;
        }
    
        .downarrow{
            stroke: white;
            position: absolute;
            width: 1em;
            left: 250px;
            top: 300px;
            animation: moveArrow 1s alternate-reverse infinite;
    
            path{
                fill: white;
            }
        }
    }
    
    
    
    button{
        position: absolute;
        left: 185px;
        top: 430px;
        background-image: linear-gradient(to right, dodgerblue, white);
        border-radius: 10px;
    
    }
   
}

@media only screen and(min-width: 680px){
    body{
        margin: 1.5em 5em;
        font-family: monospace;
        background-image: linear-gradient(to right, dodgerblue, white);
    }

    section#content{
        color: white;
        height: 90vh;
    
        h3{
            margin-top: 1.5em;
            font-size: 2.5em;
        }
    
        .downarrow{
            stroke: white;
            position: absolute;
            width: 1em;
            left: 250px;
            top: 330px;
            animation: moveArrow 1s alternate-reverse infinite;
    
            path{
                fill: white;
            }
        }
    }
    
    
    
    button{
        position: absolute;
        left: 185px;
        top: 460px;
        background-image: linear-gradient(to right, dodgerblue, white);
        border-radius: 10px;
    
    }

}


@media only screen and(min-width: 719px){
    
    section#content{
        color: white;
        height: 90vh;
    
        h3{
            margin-top: 1.5em;
            font-size: 2.5em;
        }
    
        .downarrow{
            stroke: white;
            position: absolute;
            width: 1em;
            left: 250px;
            top: 270px;
            animation: moveArrow 1s alternate-reverse infinite;
    
            path{
                fill: white;
            }
        }
    }
    
    
    
    button{
        position: absolute;
        left: 185px;
        top: 400px;
        background-image: linear-gradient(to right, dodgerblue, white);
        border-radius: 10px;
    
    }
}

@media only screen and(min-width: 844px){
    section#content{
        color: white;
        height: 90vh;
    
        h3{
            margin-top: 1.5em;
            font-size: 2.5em;
        }
    
        .downarrow{
            stroke: white;
            position: absolute;
            width: 1em;
            left: 250px;
            top: 240px;
            animation: moveArrow 1s alternate-reverse infinite;
    
            path{
                fill: white;
            }
        }
    }
    
    
    
    button{
        position: absolute;
        left: 185px;
        top: 370px;
        background-image: linear-gradient(to right, dodgerblue, white);
        border-radius: 10px;
    
    }
}

@media only screen and(min-width: 920px){
    .menu{
        display: none;
    }

    nav{
        transform: translateX(0);
        position: unset;
        display: block;
        width: auto;
        height: auto;
        background: none;

        .close{
            display: none;
        }

        ul{
            display: flex;
            margin: 0;
            
            a{
                color: white;
                padding: .5em 1.4em;
                font-size: 1rem;

                &:hover{
                    background: none;
                    text-decoration: blue underline;
                }
            }
        }
    }


    .headerbackground{
        left: unset;
        right: 0;
        width: 50%;
        height: 42em;
    }

    .logo{
        color: black;

        span{
            color: white;
        }
    }

    section#content{
        color: black;
        height: auto;
        width: 40%;
        margin-bottom: 25em;

        .downarrow{
            stroke: black;
            position: absolute;
            width: 1em;
            left: 250px;
            top: 520px;

            path{
                fill: black;
            }
        }
    }

    button{
        position: absolute;
        left: 185px;
        top: 650px;
        background-image: linear-gradient(to right, dodgerblue, white);
        border-radius: 10px;
    }   
}

@media only screen and(min-width: 952px){
    
    section#content{
        color: black;
        height: auto;
        width: 40%;
        margin-bottom: 25em;

        .downarrow{
            stroke: black;
            position: absolute;
            width: 1em;
            left: 250px;
            top: 440px;

            path{
                fill: black;
            }
        }
    }

    button{
        position: absolute;
        left: 185px;
        top: 570px;
        background-image: linear-gradient(to right, dodgerblue, white);
        border-radius: 10px;
    }   
}

@media only screen and(min-width: 1130px){
    
    section#content{
        color: black;
        height: auto;
        width: 40%;
        margin-bottom: 25em;

        .downarrow{
            stroke: black;
            position: absolute;
            width: 1em;
            left: 250px;
            top: 400px;

            path{
                fill: black;
            }
        }
    }

    button{
        position: absolute;
        left: 185px;
        top: 530px;
        background-image: linear-gradient(to right, dodgerblue, white);
        border-radius: 10px;
    }   
}

@media only screen and(min-width: 1175px){
    
    section#content{
        color: black;
        height: auto;
        width: 40%;
        margin-bottom: 25em;

        .downarrow{
            stroke: black;
            position: absolute;
            width: 1em;
            left: 250px;
            top: 370px;

            path{
                fill: black;
            }
        }
    }

    button{
        position: absolute;
        left: 185px;
        top: 500px;
        background-image: linear-gradient(to right, dodgerblue, white);
        border-radius: 10px;
    }   
}

@media only screen and(min-width: 1200px){
    div.wrapper{
        width: 1150px;
        margin: 0 auto;
    }
}

@keyframes introLoad{
    from{
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    to{
        clip-path: polygon(0 0, 100% 0, 100% 100%,0 100%);
    }
}

@keyframes moveArrow{
    from{
        transform: translateY(-30px) ;
    }
    to{
        transform: translateY(0px) ;
    }
}

@keyframes moveDown{
    from{
        transform: translateY(-100px) ;
    }
    to{
        transform: translateY(0px) ;
        opacity: 1;
    }
}